<form>
    <!--<div>
        <label for="id"> id:</label>
        <input type="text" id='id' [(ngModel)]="tempitem.id" name='id' />
    </div>-->
    <div class='input_area'>
        <!--<label for='todo'> todo:</label>-->
        <input type="text" id="todo" [(ngModel)]="tempitem.todo" name="todo" placeholder="有件事一定要做" />
        <input type="datetime" id='endTime' [(ngModel)]="tempitem.endTime" name='endTime' placeholder="完成时间" />
        <input type="text" id='priority' [(ngModel)]="tempitem.priority" name="priority" placeholder="优先级：1，2,3" />
    </div>
    <!--<div>
        <label for='priority'>priority:</label>
        
    </div>-->
    <div>
        <button (click)='add()'>确认添加</button>
        <span (click)='cancel()'>取消</span>
    </div>
</form>