<div class='topbar'>
    <div class='title'>{{title}}</div>
    <div class='topline'>
        <div class='leftline'></div>
        <div class='middleline'></div>
        <div class='rightline'></div>
    </div>
</div>
<div class='body'>
    <div class='subtitle'>Today</div>
    <div class='item' *ngFor="let item of items">
        <div class='priority level-{{item.priority}}'></div>

        <input class='todoitem' [(ngModel)]='item.todo' name='todo' readOnly="true" #box (click)='inputItem(box);' />

        <div class='del' (click)='deleteItem(item)'>delete</div>
        <!--<div class='todo'>{{item.startTime}}</div>-->
        <div class='todo'>{{item.endTime}}</div>
        <!--<div class='todo'>{{item.endTime-item.startTime}}</div>-->
    </div>

    <div *ngIf='added'>
        <add-task></add-task>
    </div>
    <div class='buttom' *ngIf='!added'>
        <button (click)='addTask()'>添加任务</button>
    </div>
</div>