.container {
    text-align: center;
}

.title {
    vertical-align: middle;
    text-align: center;
}

.topbar {
    background-color: var(--color-blue);
    vertical-align: middle;
}

.topbar .title {
    font-size: 24px;
    margin-left: 16px;
    line-height: 56px;
}

.topline {
    height: 5px;
}

.topline div {
    display: inline-block;
    height: 5px;
    margin: 0px 0px 0px 0px;
    border: none;
}

.leftline {
    /*display: inline-block;*/
    float: left;
    height: 5px;
    width: 20%;
    background-color: #FF361E;
}

.middleline {
    /*display: inline-block;*/
    height: 5px;
    width: 60%;
    float: left;
    background-color: #FF9101;
}

.rightline {
    /*display: inline-block;*/
    float: right;
    height: 5px;
    width: 20%;
    background-color: #7AE8F7;
}