<div class='body'>
    <div class='subtitle'>Today</div>
    <div class='item' *ngFor="let item of items">
        <div class='priority level_{{item.priority}}'></div>
        <input class='todoitem' [(ngModel)]='item.todo' name='todo' readOnly="true" #box (click)='inputItem(box);' />
        <div class='del' (click)='deleteItem(item)'>delete</div>
        <!--<div class='priority_bg_{{item.priority}}'></div>-->
        <!--<div class='todo'>{{item.startTime}}</div>
        <div class='todo'>{{item.endTime}}</div>
        <div class='todo'>{{item.endTime-item.startTime}}</div>-->
    </div>

    <div *ngIf='added'>
        <add-task></add-task>
    </div>
    <div class='buttom' *ngIf='!added'>
        <button (click)='addTask()'>添加任务</button>
    </div>
    <div>
        <alert-task></alert-task>
    </div>
</div>